 /* Small devices (landscape phones, 576px and up) */

 @media (max-width: 600px) { 
    *{
        box-sizing: border-box;
      /* overflow: hidden; */
     
        
    }
    h1,h2,h3,h4,h5{
        font-family: 'Libre Baskerville', serif;
        font-family: 'Playfair Display', serif;
    }
    p{
        font-family: 'Libre Baskerville', serif;
        font-family:'Noto Sans', sans-serif ;
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 26px;
    }
    h3,h4,h5,p,span,a{
        font-size: 16px;
    }
    body{
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .container1{
        height: 130vh;
        width: 100%;
    }
    .container1 .row1,.row2,.row3,.row4{
        width: 25%;
    }
    .menu-item a, .dropdown-content a{
        font-size: 12px;
    }
    .row3 i, .row-icon i, .row4 i{
        font-size: 14px;
    }
    .row2 img{
        height: 70px;
        width: 70px;
    }
    /* .container1 .content .con-1, .con-2{
        width: 50%;
        display: flex;
        
        align-items: center;
        height: auto;
      
    } */
    
    .content {
        padding: 0;
        margin: 0;
        /* display: flex; */
        flex-direction: column;
       align-items: start;
       
    }
    .con-1{
        width: 100%;
        height: 40%;
        margin: 0;
       
        padding: 0 15px 0 15px;
        flex-direction: column;
    }
     .con-2{
        padding: 0 0 70px 0;
        margin: 0;
        height: 50%;
        width: 100%;
        
        display: grid;
        align-items: start;
        justify-content: center;
      
    }
    .con-1-text{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .con-1-text h2{
        font-size: 24px;
        width: 100%;
    }
    .con-1-text .btn-wrapper a span{
        padding: auto;
       font-size: 12px;
    }
    .con-2-img img{
        height: 280px;
        width: 280px;
    }
    .container2{
        width: 100%;
        height: 300px;
       
    }
    .container2 .column-con2{
        display: flex;
        width: 90%;
        margin: auto;
        
        flex-wrap: wrap;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 100px;
        row-gap: 20px;
    }
    .column-con2 .col-1, .col2{
        width: 50%;
        height: auto;
        
    }
   
    .column-con2 .col3, .col4{
        width: 50%;
       
    }
    .col1 h3{
        font-size: 28px;
    }
    .col1 em{
        font-size: 24px;
        
    }
    .col1 h6{
        font-size: 16px;
    }
    .col-1::after{
        content: '';
        display: none;
    }
    .col1::after{
        display: none;
    }
    .container3{
        width: 100%;
        height: auto;
       padding-top: 50px;
        margin-top: 40px;
        /* display: block; */
        flex-direction: column;
        row-gap: 10px;
        margin: auto;
       
    }
    .container3 .con3-col1 {
        width: 100%;
        margin: 0;
        padding: 0 10px 0 15px;
        height: 280px;
        
        
    }
   
    .con3-col2{
        width: 100%;
        margin: auto;
        height: 60%;
       
        padding: 0 0 65px 0;
       
       flex-direction: column;
      
    }
    .con3-col2 .con3-img{
        column-gap: 10px;
       margin: auto;
        padding: 0;
        width: 95%;
        height: 100%;
        
        flex-direction: column;
       
        overflow: hidden;
    }
    .con3-img1{
        width: 100%;
        height: 100%;
        position: relative;
    }
     .con3-img1 .c3-img{
        
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        
    }
    .con3-img1 .con3-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        bottom: 0;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
    .con3-img1:hover .con3-overlay {
        bottom: 0;
        top: 100%;
        /* transform: translate(-50%, -50%) scale(1); */
        color: white;
    }
    .con3-img .con3-img1:nth-child(2), .con3-img .con3-img1:nth-child(3){
        display: none;
        width: 0%;
    }
    .con3-col1 h3{
        font-size: 24px;
    }
    .con3-col1 p{
        font-size: 16px;
        line-height: 25px;
        width: 100%;
    }
    .con3-col1 i{
        font-size: 32px;
    }


    /* container4 */
    .container4{
        height: auto;
        width: 100%;
        margin: 0;
        flex-direction: column;
       box-sizing: border-box;
       padding-top: 60px;
       row-gap: 30px;
      
    }
    .con4-col1{
        width: 100%;
        height: 600px;
    }
    .con4-cot{
        height: 100%;
        width: 95%;
        /* margin-bottom:50px; */
        margin: auto;
        padding:0;
       
       
    }
    .con4-cot1{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100%;
        /* padding-top: 50px; */
       
      position: relative;
      overflow: hidden;
    }
    
    .con4-cot2{
        height:450px;
        width: 350px;
       
        position: absolute;
        top: 60%;
        left: 70%;
        
        overflow: hidden;
    }
    .con4-cot2 .about-3{
        width: 100%;
        height: 80%;
    }
    .con4-cot1 img{
        width: 90%;
        height: 100%;
    }
    .con4-cot2 .about-3{
        width: 80%;
        height: 80%;
    }
    .con4-col2{
        width: 95%;
        height: auto;
        margin: auto;
        display: block;
       padding: 0 0 60px 0;
      
    }
    .con4-col2 h2{
        font-size: 26px;
        width: 100%;
    }
    .con4-content-start{
       
        padding: 0;
        margin: 0;
    }
    .con4-content{
        
        width: 100%;
    }
    .con4-content1{
        width: 50%;
    }
    .con4-content2{
        
        width: 50%;
        display: grid;
        padding: 0;
        overflow: hidden;
    }
    .con4-col2 .con4-content p{
        font-size: 15px;
    }
    .con4-content .ceo{
       
        display: grid;
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
       
    }
    .ceo .ceo-img {
        width: 100%;
        
        display: flex;
        justify-content: center;
    }
    .ceo .ceo-con{
       
        width: 100%;
        text-align: center;
    }
    .ceo-con img{
        width: 180px;

    }
    .container5{
        height: 800px;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
        position: relative;
       
    }
    .timer{
        position: absolute;
        top: -10%;
        margin: 0;
        padding: 0;
        height: 500px;
        display: block;
        flex-wrap: wrap;
        width: 100%;
       
    }
    .timer .timer1{
        position: absolute;
        top: -80px;
        left: 0;
        width: 100%;
        display: block;
        text-align: center;
        
    }
    .timer1 h2{
        font-size: 26px;
        width: 100%;
    }
    .timer2{
        position: absolute;
        left: 25%;
        top:70%;
        width: 100%;
        margin-top: 80px;
        padding:0;
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
       padding-bottom: 40px;
    }
    .times-circle{
        
        width: 50%;
        height: 150px;
        
    }
    .times-circle img{
        height: 100px;
        width: 100px;
    }
    .times-circle-1{
        width: 100%;
    }
    .times-circle h4{
        font-size: 18px;
    }
    .times-line{
        display: none;
        width:0%;
    }

    .container6{
        height: auto;
        width: 100%;
    }
    .container6-title h2{
       font-size: 26px;
    }
    .container6 .con6-box, .con7-box{
        display: block;
        width: 95%;
        margin: auto;
        padding: 0;
    }
    .discount-menu{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .discount-menu .discount-img {
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 15px 20px 20px 10px;
        
        border-radius: 20px;
    }
    .discount-img img{
        width: 100%;
        height: 100%;
       
        padding-bottom: 20px;
        border-radius: 20px;
    }
    .discount-info{
        width: 100%;
    }
    .discount-info h3{
        font-size: 20px;
        
    }
    .container7{
        width: 100%;
        height: auto;
        padding-top: 60px;
       padding-bottom: 60px;
    }
    .container7-title{
        
        margin: 0;
    }
    .container7-title span{
        padding: 0;
    }
    .container7-title h2{
        font-size: 26px;
    }
    .chef-container{
        width: 100%;
       
    }
    .chef-container .chef-column{
        flex-direction: column;
       
        margin-left: 10px;
        width: 95%;
        margin: auto;
        row-gap: 30px;
    }
    .chef-column1{
        width: 100%;
       
       
    }
    .chef1-info h3{
        font-size: 22px;
    }
    .container8{
        padding-top: 60px;
    }
    .container8-title h2{
        padding: 15px 0 0 0;
        font-size: 26px;
        margin: 0;
    }
    .menu-container{
        width: 95%;
        margin: auto;
        display: block;
        flex-wrap: wrap;
        row-gap: 30px;
       
    }
    .main-menu{
        width: 100%;
        flex-direction: column;
        /* flex-wrap: wrap; */
        position: relative;
        row-gap: 30px;
      
    }
    .food-menu{
        row-gap: 30px;
        display:block;
        width: 100%;
        border: none;
        position: relative;
       margin-bottom: 10px;
       overflow: visible;
    }
    .main-menu .food-menu:nth-child(2){
        display: block;
        position: absolute;
        top: -2%;
        bottom: 100%;
        
    }
    .menus{
        position: absolute;
        /* top: 30%; */
        display: block;
        width: 100%;
        margin-bottom: 20px;
      overflow: visible;
    }
   
    .food1-slide{
        width: 100%;
        height: 100px;
        position: relative;
      display: none;
    }
    .food1-slide ol{
        position: absolute;
        top: 35%;
        left: 45%;
       
    }
    .slide1-overlay{
        display: none;
    }
    .food1-slide img{
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
       object-fit: cover;
    }
    
    .food-img img{
        width: 100%;
        height: 250px;
    }
    .food-info{
        position: absolute;
        top: 64%;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-left: 1px solid rgb(197, 197, 197);
        border-right: 1px solid rgb(197, 197, 197);
        border-bottom: 1px solid rgb(197, 197, 197);
        margin-bottom: 20px;
    }

    /* Add this style to show the current slide */
    .main-menu .food-menu:nth-child(3),.main-menu .food-menu:nth-child(4) {
        display: none;
    }
    .container9{
        margin: 0;
        padding: 0;
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 700px;
        overflow: hidden;
    }
    .container9 .svg2, .svg3{
        display: none;
    }
    .testimonial-title{
        padding-top: 50px;

    }
    .testimonial-title h2{
        font-size: 26px;
    }
    .testimonial-container{
        width: 100%;
       height: min-content;
       
       margin: 0;
       padding: 0;
    }
    .testimonail-1 {
        top: 23%;
        right: 0;
        left: 10%;
        bottom: 0;
        
         margin: 0;
         position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 15px 0 15px;
        
       
    }
    .test-info{
        width: 100%;
        
        
    }
    .testimonail-1 .test-img img{
        height: 100px;
        width: 100px;
    }
    .testimonail-1 p{
        font-size: 14px;
        padding: 0 5px 0 5px;
    }
    .testimonail-1 h3{
        font-size: 20px;
    }
    .testimonail-1 i{
        font-size: 16px;
        padding-bottom: 70px;
    }
    .container10{
        width: 100%;
        height: 750px;
       padding-top: 30px;
    }
    .contact-container{
        width: 100%;
        margin: 0;
        padding: 0;
        margin: 0;
    }
    .contact-column{
        width: 95%;
        margin: auto;
        flex-direction: column;

    }
    .contact1, .contact2{
        width: 100%;
        margin: 0;
        padding: 0  ;
        
    }
    .contact1 h2{
        width: 100%;
        font-size: 26px;
        line-height: 25px;
    }
    .contact1 p{
        font-size: 16px;
        width: 100%;
        padding-bottom: 30px;
    }
    .contact2 .form-box{
        width: 100%;
        height: 450px;
        margin: 0;
        padding: 0;
    }
    .restaurant-form{
        width: 90%;
        height: 90%;
        margin: auto;
    }
    .form-container{
        flex-direction: column;
        flex-wrap: wrap;
        display: block;
        width: 100%;
        /* height: 00px; */
        margin: 0;
        padding: 0;
       
    }
    .restaurant-form1{
        flex-direction: column;
        flex-wrap: wrap;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;

    }
    .label1 {
      width: 200%;
      height: 60px;
      margin: 0;
      padding: 0;
      
    }
    .label1 input{
        width: 200%;
        margin: 0;
        padding: 0 0 0 20px;
    
    }
    .form-icon{
        position: relative;
    }
    .form-icon i{
        position: absolute;
        width: 100%;
        right: 0;
        left: 180%;
    }

    .container11{
        height: auto;
        width: 100%;
        padding-top: 60px;
        margin: 0;
    }
    .blog-container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .blog-container-column{
        width: 95%;
        margin: auto;
        padding: 0;

    }
    .blog-title{
        padding: 0;
        margin: 0;
        width: 100%;

    }
    .blog-title h2{
        font-size: 26px;
        width: 100%;
    }

    .blogs{
        width: 100%;
        height: auto;
        flex-direction: column;
        /* padding-bottom: 130px; */
        margin-bottom: 130px;
        row-gap: 100px;
       
    }
    .blog1{
        width: 100%;
        height: 490px;
       
    }
    .blog-img {
        width: 100%;
        height: 450px;
    } 
    .blog-img img{
        width: 100%;
        height: 100%;
    } 
    .container12{
        width: 100%;
        height: 1280px;
        padding: 0;
        margin: 0;
    }
    .footer-container{
        width: 95%;
        margin: auto;
        padding:70px 0 0 0;
    }
    .footer-column{
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        height: auto;
        padding: 0 0 30px 0;
    }
    .footer1 h3{
        font-size: 22px;
    }
    .footer1 a{
        font-size: 16px;
    }
    .footer2{
        width: 100%;
        overflow: hidden;
    }
    .footer2-box{
        padding: 25px 20px 0 20px;
    }
    .footer2-box, .footer2-content1{
        width: 100%;
        overflow: hidden;
       
    }
    .footer2-content1 h3{
        font-size: 24px;
        padding-top: 15px;
    }
    .footer-content3{
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0 0 30px 0;
        justify-content: center;
        row-gap: 20px;
    }
    
    .footer-logo img{
        width: 80px;
        height: 80px;
    }
    .footer-copyrights p{
        padding-top: 15px;
        font-size: 14px;
       
    }
    .footer-copyrights span{
        font-size: 17px;
    }
    .footer-logo, .footer-copyrights, .footer-social{
        width: 100%;
        height: auto;
        text-align: center;
    }
}